<h1>Posts</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Image</th>
      <th>Title</th>
      <th>Created on</th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
		<td><%= image_tag post.news_photo.url(:thumb) %></td>
        <td><%= link_to post.title, post_path(post) %></td>
        <td><%= post.created_at %></td>
        <td>
        
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New', new_post_path, :class => 'btn btn-primary' %>
