<h1>All Your Local News</h1>

<table>
  <tr>
	<th>   </th>
    <th>Title</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @posts.each do |post| %>
  <tr>
	<td><%= image_tag post.news_photo.url(:thumb) %></td>
    <td><%=link_to post.title,post %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>

	
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post', new_post_path %>
